name: Android CI

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 授予写入权限

    steps:
      - name: 将时区设为亚洲/上海
        run: |
          sudo timedatectl set-timezone Asia/Shanghai
          echo "Current time: $(date)"

      - name: 检出代码
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 设置 JDK
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "zulu"
          cache: gradle

      - name: 设置 Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
          gradle-version: wrapper

      - name: 授予 gradlew 执行权限
        run: chmod +x gradlew

      - name: 使用 Gradle 构建
        run: ./gradlew assembleNormalRelease -Pversion=${{ github.ref_name }}

      - name: 查找 APK 并设置输出
        id: locate_apks
        run: |
          normal_apk=$(find app/build/outputs/apk/normal/release -name "*.apk" | head -n 1)
          echo "normal_apk=$normal_apk" >> $GITHUB_OUTPUT

      - name: 将 APK 复制到暂存阶段以便签名
        run: |
          mkdir -p app/build/outputs/apk/all
          cp "${{ steps.locate_apks.outputs.normal_apk }}" app/build/outputs/apk/all/

      - name: APK签名
        id: sign_apks
        uses: ilharp/sign-android-release@v2
        with:
          releaseDir: app/build/outputs/apk/all
          signingKey: ${{ secrets.ANDROID_SIGNING_KEY }}
          keyAlias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
          buildToolsVersion: 36.0.0

      - name: 提取签名 APK 路径
        id: extract_apks
        run: |
          IFS=':' read -r -a files <<< "${{ steps.sign_apks.outputs.signedFiles }}"
          for file in "${files[@]}"; do
            if [[ "$file" == *Normal* ]]; then
              echo "signed_normal=$file" >> $GITHUB_OUTPUT
            fi
          done

      - name: 更新安装包 - Normal
        uses: actions/upload-artifact@v4
        with:
          name: apk-normal
          path: ${{ steps.extract_apks.outputs.signed_normal }}

      - name: 提取文件名
        id: extract_info
        run: |
          normal_file=$(basename "${{ steps.extract_apks.outputs.signed_normal }}")
          # 提取版本号（以"Normal-"或"Compatible-"之后的部分为起点，以"-signed"之前的内容为终点）
          version=$(echo "$normal_file" | sed -E 's/.*-(Normal|Compatible)-(.*)-signed\.apk/\2/')
          echo "normal_file=$normal_file" >> $GITHUB_OUTPUT
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: 利用版本号创建标签
        if: startsWith(github.ref, 'refs/heads/main') && github.event_name == 'push'
        run: |
          VERSION_TAG="v${{ steps.extract_info.outputs.version }}"
          echo "Creating tag: $VERSION_TAG"
          git tag "$VERSION_TAG"
          git push origin "$VERSION_TAG"
            
      - name: 将资源整合上传到你的仓库发布
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ steps.extract_info.outputs.version }} # 发布的名称。默认为标签名称
          files: ${{ steps.extract_apks.outputs.signed_normal }}
          tag_name: ${{ steps.extract_info.outputs.version}}
          draft: false
          append_body: true
          generate_release_notes: true
          body: |
            ## ✨What's Changed

            ${{ steps.commit_details.outputs.COMMIT_MESSAGE_BODY }}
            > ## 下载说明
              * 适用于`Android 8.0`及以上的系统

            > 倒卖必死全家